.container {
	display: flex;
}

.table {
	width: 100%;
	border-collapse: separate;
	overflow: hidden;
	border-radius: var(--border-radius);

	.xs {
		width: 6.25%;
	}

	.sm {
		width: 12.5%;
	}

	.md {
		width: 20%;
	}

	.lrg {
		width: 30%;
	}

	.tableHeader {
		tr {
			background: var(--gradient-primary-light);

			th {
				vertical-align: middle;
				cursor: pointer;
				padding: 0.5rem 1rem;
				text-align: left;
				white-space: nowrap;
				font-weight: 600;

				.sort {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 0.5rem;
				}

				&:not(:last-child) {
					border-right: 1.5px solid var(--border-light);
				}

				&.center {
					text-align: center;
				}
			}
		}
	}

	tbody {
		tr {
			line-height: 1.25;

			&:nth-child(odd) {
				background-color: var(--background-tertiary);
			}
			&:nth-child(even) {
				background-color: var(--background-tertiary-med);
			}

			@media (hover: hover) {
				&:hover:not(:has(.button:hover)) {
					background: var(--gradient-primary-lighter);
					cursor: pointer;
				}
			}

			td {
				padding: 0.5rem 1rem;
				max-width: 0; /* Force cells to respect parent column width */
				line-height: 1.25;
				white-space: nowrap;
				overflow-x: auto;
				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none; /* IE and Edge */

				&::-webkit-scrollbar {
					width: 0;
					height: 0;
					background: transparent;
				}

				&.right {
					text-align: right;
				}

				&.buttonBox {
					padding: 0;
					justify-items: center;
					padding-top: 0.25rem;
					vertical-align: top;
				}

				&.content-cell {
					.parsed-content {
						width: 100%;
						white-space: normal;
						display: flex;
						flex-direction: column;
						gap: 1rem;

						.message-preview {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}

				.active {
					color: var(--color-primary);
					font-weight: 600;
				}

				.inactive {
					color: var(--text-muted);
					font-style: italic;
				}

				&.important {
					color: var(--accent-important);
					font-weight: 600;
				}

				.button {
					width: 80%;
					cursor: pointer;
					display: flex;
					gap: 0.25rem;
					align-items: center;
					justify-content: center;
					color: var(--text-secondary);
					text-decoration: none;
					padding: 0.125rem 0.5rem;
					transition: all 0.2s ease-in-out;
					font-size: 1rem;
					position: relative;
					border-radius: var(--border-radius);
					border: 2px solid transparent;
					background: linear-gradient(
								var(--background-secondary),
								var(--background-secondary)
							)
							padding-box,
						var(--gradient-primary) border-box;
					line-height: 1.25;

					@media (hover: hover) {
						&:hover {
							transform: scale(1.1);
							color: var(--color-primary);
							background: var(--gradient-accessible) padding-box,
								var(--gradient-primary) border-box;
						}
					}

					.icon {
						font-size: 1rem;
					}
				}
			}

			&.expanded-row {
				background: var(--gradient-primary-lighter);
			}

			&.selected {
				background: var(--gradient-primary-lighter);
			}

			&.selectedMessage {
				background: var(--background-tertiary) !important;
			}
		}
	}
}
