.container {
	display: flex;
}

.table {
	width: 100%;
	border-collapse: separate;
	overflow: hidden;
	border-radius: var(--border-radius);

	.xs {
		width: 6.25%;
	}

	.sm {
		width: 12.5%;
	}

	.md {
		width: 20%;
	}

	.lrg {
		width: 30%;
	}

	.tableHeader {
		tr {
			background: var(--gradient-primary-light);

			th {
				vertical-align: middle;
				cursor: pointer;
				padding: 0.5rem 1rem;
				text-align: left;
				white-space: nowrap;
				font-weight: 600;

				.sort {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 0.5rem;
				}

				&:not(:last-child) {
					border-right: 1.5px solid var(--border-light);
				}

				&.center {
					text-align: center;
				}
			}
		}
	}

	tbody {
		tr {
			line-height: 1.25;

			&:nth-child(odd) {
				background-color: var(--background-tertiary);
			}
			&:nth-child(even) {
				background-color: var(--background-tertiary-med);
			}

			@media (hover: hover) {
				&:hover:not(:has(.action:hover, .rte-wrapper)) {
					background: var(--gradient-primary-lighter);
					cursor: pointer;
				}
			}

			td {
				padding: 0.5rem 1rem;
				max-width: 0; /* Force cells to respect parent column width */
				line-height: 1.25;
				white-space: nowrap;
				overflow-x: auto;
				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none; /* IE and Edge */
				vertical-align: top;

				&::-webkit-scrollbar {
					width: 0;
					height: 0;
					background: transparent;
				}

				&.right {
					text-align: right;
				}

				&.buttonBox {
					padding: 0;
					justify-items: center;
				}

				&.content-cell {
					.rte-wrapper {
						display: flex;
						flex-direction: column;
						gap: 0.5rem;
						max-width: 100%;

						.input-group {
							.input {
								display: flex;
								gap: 0.5rem;

								input {
									flex-grow: 1;
									height: 1.5rem;
									font-size: 1rem;
									padding-left: 0.25rem;
									border: 1px solid #ccc;
									border-radius: 0.25rem;
									color: var(--text-primary);

									&:focus {
										outline: none;
										border-color: var(--color-primary);
										box-shadow: 0 0 0 2px var(--color-primary-light);
									}
								}

								label {
									font-size: 1rem;
								}

								select {
									height: 100%;
									font-size: 1rem;
									cursor: pointer;
								}

								.checkbox {
									width: 1.5rem;
									height: 1.5rem;
									cursor: pointer;
								}
							}
						}
					}

					.parsed-content {
						width: 100%;
						white-space: normal;
						display: flex;
						flex-direction: column;
						gap: 1rem;

						.message-preview {
							font-weight: 600;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}

				&.important {
					color: var(--accent-important);
					font-weight: 600;
				}

				&.approved {
					color: var(--color-success);
					font-weight: 600;
				}

				.action {
					cursor: pointer;
					display: flex;
					gap: 0.25rem;
					align-items: center;
					justify-content: center;
					color: var(--text-secondary);
					text-decoration: none;
					padding: 0.125rem 0.75rem;
					transition: all 0.2s ease-in-out;
					font-size: 1rem;
					position: relative;
					border-radius: var(--border-radius);
					border: 2px solid transparent;
					background: linear-gradient(
								var(--background-secondary),
								var(--background-secondary)
							)
							padding-box,
						var(--gradient-primary) border-box;
					line-height: 1.25;

					@media (hover: hover) {
						&:hover {
							transform: scale(1.1);
							color: var(--color-primary);
							background: var(--gradient-accessible) padding-box,
								var(--gradient-primary) border-box;
						}
					}

					.icon {
						font-size: 1rem;
					}

					&.disabled {
						opacity: 0.5;
						cursor: not-allowed;
						pointer-events: auto;

						@media (hover: hover) {
							&:hover {
								cursor: not-allowed;
								transform: none;
								color: var(--text-secondary);
								background: linear-gradient(
											var(--background-secondary),
											var(--background-secondary)
										)
										padding-box,
									var(--gradient-primary) border-box;
							}
						}
					}
				}

				.buttons {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1.5rem;

					.button {
						cursor: pointer;
						height: 3.25rem;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0 2.5rem;
						font-size: 1.125rem;
						color: var(--text-secondary);
						text-decoration: none;
						transition: all 0.2s ease-in-out;
						font-weight: 500;
						position: relative;
						border-radius: var(--border-radius);
						border: 2px solid transparent;
						background: linear-gradient(
									var(--background-secondary),
									var(--background-secondary)
								)
								padding-box,
							var(--gradient-primary) border-box;
						box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);

						span {
							transition: transform 0.2s ease-in-out;
							will-change: transform;
						}

						@media (hover: hover) {
							&:hover {
								transform: translateY(-0.125rem);
								box-shadow: 0.375rem 0.375rem 1.5rem rgba(0, 0, 0, 0.25);
								color: var(--color-primary);
								background: var(--gradient-accessible) padding-box,
									var(--gradient-primary) border-box;
							}
						}
					}
				}
			}

			&.selectedMessage {
				background: var(--background-tertiary) !important;
			}
		}
	}
}

.activity {
	margin-top: 1rem;
	min-height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--border-medium);
	border-radius: var(--border-radius-sm);
	background-color: var(--background-light);

	p {
		font-size: 1rem;
		color: var(--text-secondary);
	}
}
