.activity {
	margin-top: 1rem;
	min-height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--border-medium);
	border-radius: var(--border-radius-sm);
	background-color: var(--background-light);

	p {
		font-size: 1rem;
		color: var(--text-secondary);
	}
}
