.active-sequence-table {
	.header-details {
		display: flex;
		justify-content: space-between;
		gap: 1.5rem;
		margin-bottom: 1rem;
		line-height: 1.25;

		.value {
			font-weight: 600;
		}

		.info-row {
			height: 2rem;
			display: flex;
			gap: 0.5rem;
			align-items: center;
			font-size: 1.25rem;

			.label,
			.value {
				line-height: 0;
				display: flex;
				align-items: center;
			}
		}

		.title {
			display: flex;
			gap: 0.5rem;
			height: 2rem;
			font-size: 1.25rem;

			.value {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		.sequence-info {
			min-width: 30%;
			max-width: 50%;
			display: flex;
			flex-direction: column;
		}

		.dates-info {
			display: flex;
			gap: 1.5rem;
		}
	}
}
