.messages-table {
	width: 100%;
	border-collapse: separate;
	overflow: hidden;
	border-radius: var(--border-radius);

	.sm {
		width: 15%;
	}

	.md {
		width: 30%;
	}

	.lrg {
		width: 40%;
	}

	thead {
		background: var(--gradient-primary-light);

		tr {
			th {
				vertical-align: middle;
				cursor: pointer;
				padding: 0.5rem 1rem;
				text-align: left;
				border-bottom: 2px solid var(--border-light);
				white-space: nowrap;
				font-weight: 600;

				.sort {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 0.5rem;
				}

				&:not(:last-child) {
					border-right: 1.5px solid var(--border-light);
				}
			}

			&.nested-row {
				background: var(--gradient-greyscale) !important;
			}
		}
	}

	tbody {
		tr {
			&:nth-child(odd) {
				background-color: var(--background-tertiary);
			}
			&:nth-child(even) {
				background-color: var(--background-tertiary-med);
			}

			@media (hover: hover) {
				&:hover {
					background: var(--gradient-primary-lighter);
					cursor: pointer;
				}
			}

			td {
				padding: 0.5rem 1rem;
				max-width: 0; /* Force cells to respect parent column width */

				white-space: nowrap;
				overflow-x: auto;
				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none; /* IE and Edge */

				&::-webkit-scrollbar {
					width: 0;
					height: 0;
					background: transparent;
				}

				&.right {
					text-align: right;
				}

				&.content-cell {
					.parsed-content {
						width: 100%;
						white-space: normal;
						display: flex;
						flex-direction: column;
						gap: 1rem;

						.message-preview {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
			}

			&.nested-row {
				@media (hover: hover) {
					&:hover {
						background: var(--gradient-greyscale-lighter) !important;
					}
				}
			}
		}
	}
}
