.client {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.nav {
		width: 100%;
		height: 2.5rem;
		padding: 0.25rem 0;
		display: flex;
		border-bottom: 2px solid var(--border-medium);
		gap: 1.5rem;
		align-items: end;

		h2 {
			line-height: 1.25;
			font-size: 2rem;
			font-weight: 500;
			color: var(--text-muted);
			opacity: 0.5;
			cursor: pointer;

			&.selected {
				background: var(--gradient-primary);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				opacity: 1;
			}

			&:not(.selected):hover {
				background: var(--gradient-primary);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
	}
}
