.actionButton {
	height: 3.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.5rem;
	font-size: 1.125rem;
	color: var(--text-secondary);
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	font-weight: 500;
	position: relative;
	margin: 0.5rem;
	border-radius: var(--border-radius);
	border: 2px solid transparent;
	background: linear-gradient(
				var(--background-secondary),
				var(--background-secondary)
			)
			padding-box,
		var(--gradient-primary) border-box;
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);

	span {
		transition: transform 0.2s ease-in-out;
		will-change: transform;
	}

	@media (hover: hover) {
		&:hover {
			transform: translateY(-0.125rem);
			box-shadow: 0.375rem 0.375rem 1.5rem rgba(0, 0, 0, 0.25);
			color: var(--color-primary);
			background: var(--gradient-accessible) padding-box,
				var(--gradient-primary) border-box;
		}
	}
}

.navLink {
	height: 3.25rem;
	display: flex;
	align-items: center;
	padding: 0 1.5rem;
	color: var(--text-secondary);
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	border-left: 0.1875rem solid transparent;
	border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
	font-weight: 500;
	position: relative;
	will-change: transform;
	width: 100%;

	&.notification {
		animation: blinking 1.5s infinite;
	}

	.linkInner {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: transform 0.2s ease-in-out;
		will-change: transform;
	}

	&:hover {
		background: var(--gradient-accessible);
		color: var(--color-primary);
		border-left-color: var(--color-secondary);
		transform: scaleX(0.98);
		transform-origin: right center;

		&.notification {
			background: var(--gradient-danger-accessible) padding-box,
				var(--gradient-danger) border-box;
			border-left-color: var(--accent-important);
			// background: hsla(0, 92%, 61%, 0.25);
			// border-left-color: hsla(0, 92%, 61%, 0.5);
			color: var(--accent-important);
			animation: none;
		}

		.linkInner {
			transform: scale(1.1);
		}
	}

	&.active {
		background: var(--gradient-subtle);
		color: var(--color-primary);
		border-left-color: var(--color-primary);
		font-weight: 600;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 0.1875rem;
			height: 1.25rem;
			background: var(--accent-primary);
			border-radius: 0.1875rem;
		}
	}
}

@keyframes blinking {
	0%,
	100% {
		color: var(--text-secondary);
	}
	50% {
		color: var(--accent-important);
	}
}
